.checked {
    color: red;
    opacity: 0.5;
}

.todo-item {
    margin: 10px 10px;
    border: 1px solid #bfbfc1;
    height: auto;
    width: auto;
    text-align: left;
}

.text {
    text-align: center;
    margin-top: 20px;
}

.btn-danger {
    float: right;
    margin: -23px 10px;
}

.btn-complete {
    margin: 0 0 0 75%;
    position: relative;
    left: 95px;
    top: -14px;
}

.description {
    margin: 2% 2% -1%
}